body {
    background-color: #3f0d04;
}
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}

.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.3s;
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background-color: #222222;
    text-decoration:none;
    color: #6c1607;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

.accordion-section-content {
    padding:15px;
    display:none;
}

.panel-body {
    height: 400px;
}