* {
    padding:0;
    margin:0;
}
html, body {
    height:100%;
    background-color: #000000;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}
h1 {
    margin: .67em 0;
    font-size: 2em;
    color: #a9a9a9;
    align: center;
}
p {
    color: #a9a9a9;
}

.skrollr-desktop body {
    height:100% !important;
}
.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
}
.parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
}
.parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
}
.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.parallax-image-50 {
    height:200%;
    top:-50%;
}
.parallax-image-100 {
    height:100%;
    top:0;
}
.parallax-image.skrollable-between {
    display:block;
}
.no-skrollr .parallax-image-wrapper {
    display:none !important;
}
#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}
.gap {
    background:transparent center no-repeat;
    background-size:cover;

}
.skrollr .gap {
    background:transparent !important;
}
.gap-50 {
    height:50%;
}
.gap-100 {
    height:100%;
}
.gap-100 h1 {
    color: #ebebeb;
    text-align: center
}
.header, .content {
    padding:1em;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.content-full {
    height:100%;
}
#done {
    height:100%;
}
