    <div class="jumbotron text-center">
        <h1>O nas</h1>
    </div>
    <div class="accordion">
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-1">Jak można zakupić znicze?</a>
            <div id="accordion-1" class="accordion-section-content">
                <p>Korzystając z danych na stronie lub dzwoniąc bezpośrednio do kwatermistrza</p>
            </div>
        </div>

        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-2">Czy przywieziecie mi je do domu?</a>
            <div id="accordion-2" class="accordion-section-content">
                <p>Zamówienia powyżej 50 zł dowozimy na wskazane przez państwa miejsce w obrębie Krakowa i okolic</p>
            </div>
        </div>

        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-3">Kolejne pytanie?</a>
            <div id="accordion-3" class="accordion-section-content">
                <p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-4">I jeszcze jedno?</a>
            <div id="accordion-4" class="accordion-section-content">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>

    </div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
