<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Amfora średnia</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch7.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>4 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>czerwony</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Amfora Wkład</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch8.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>7 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>miodowy</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem</dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Rafaello</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch9.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>5 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>czerwony, miodowy</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Mohito</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch10.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>5 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>zielony</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Ceramiczny</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch11.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>5 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>naturalny</dd>
                <dt>Inne informacje:</dt>
                <dd>Najlepiej sprzedający się znicz </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Bombka</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch12.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>3 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>miodowy, czerwony</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem</dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Mini Znicz</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch13.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>2 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>pomarańczowy, czerwony, fioletowy, biały, różowy</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem</dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Ombre</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch1.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>8 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>biały, fioletowy, niebieski</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem, duży</dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Kapliczka Owal</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch2.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>7 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>czerwony, fioletowy</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem</dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Stożek Średni</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch3.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>5 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>niebieski, biały</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Kapliczka Hex</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch4.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>6 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>czerwaony, biały</dd>
                <dt>Inne informacje:</dt>
                <dd>Z wkładem </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Amfora zalewana</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch5.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>10 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>miodowy, czerwony</dd>
                <dt>Inne informacje:</dt>
                <dd>zalewana </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Lord Plastik</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <img src="images/snitch6.png" />
            </div>
            <hr>
            <dl class="dl-horizontal">
                <dt>Cena:</dt>
                <dd>5 zł</dd>
                <dt>Dostępne kolory:</dt>
                <dd>pomarańczowy</dd>
                <dt>Inne informacje:</dt>
                <dd>zalewany</dd>
            </dl>
        </div>
    </div>
</div>
