<div class="jumbotron text-center">
    <h1>Nasze znicze</h1>
</div>
<div id="content">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Ombre</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                <img src="images/snitch1.png" />
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>Cena:</dt>
                    <dd>8 zł</dd>
                    <dt>Dostępne kolory:</dt>
                    <dd>biały, fioletowy, niebieski</dd>
                    <dt>Inne informacje:</dt>
                    <dd>Z wkładem, duży</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Kapliczka Owal</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img src="images/snitch2.png" />
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>Cena:</dt>
                    <dd>7 zł</dd>
                    <dt>Dostępne kolory:</dt>
                    <dd>czerwony, fioletowy</dd>
                    <dt>Inne informacje:</dt>
                    <dd>Z wkładem</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Stożek Średni</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img src="images/snitch3.png" />
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>Cena:</dt>
                    <dd>5 zł</dd>
                    <dt>Dostępne kolory:</dt>
                    <dd>niebieski, biały</dd>
                    <dt>Inne informacje:</dt>
                    <dd>Z wkładem </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Kapliczka Hex</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img src="images/snitch4.png" />
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>Cena:</dt>
                    <dd>6 zł</dd>
                    <dt>Dostępne kolory:</dt>
                    <dd>czerwaony, biały</dd>
                    <dt>Inne informacje:</dt>
                    <dd>Z wkładem </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Amfora zalewana</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img src="images/snitch5.png" />
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>Cena:</dt>
                    <dd>10 zł</dd>
                    <dt>Dostępne kolory:</dt>
                    <dd>miodowy, czerwony</dd>
                    <dt>Inne informacje:</dt>
                    <dd>zalewana </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Lord Plastik</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img src="images/snitch6.png" />
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>Cena:</dt>
                    <dd>5 zł</dd>
                    <dt>Dostępne kolory:</dt>
                    <dd>pomarańczowy</dd>
                    <dt>Inne informacje:</dt>
                    <dd>zalewany</dd>
                </dl>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/infinite.js"></script>
